.DS*

# Compiled
src/assets/styles/css
exports/.cache/**/
exports/_deploy/**/
exports/logs/**/
validators/flow/flow-typed/stubs/

# Logs
*.log*

# Modules
node_modules/
**/lib/

# Optional cache directories
.eslintcache
.npm

# Optional private notes directory
_notes/.ignored/

# Yarn
.yarn/*
!.yarn/cache # uncomment for Zero-Installs
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# .pnp.* # uncomment for non-Zero-Installs
